apiVersion: v1
kind: Secret
metadata:
  name: app-db-secret
  namespace: default
type: Opaque
stringData:
  DB_PASSWORD: "<appuser_password>"  # 4-4で設定したパスワードに置き換えてください
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: default
data:
  DB_HOST: "demo-mysql.dbsubnetprivate.demookecluster.oraclevcn.com"
  DB_USER: "appuser"
  DB_NAME: "sampledb"

