apiVersion: v1
kind: Service
metadata:
  name: container-api-svc
  namespace: default
spec:
  type: NodePort
  ports:
    - name: http
      port: 80
      targetPort: 8000
      protocol: TCP
      nodePort: 30080
  selector:
    app: container-api

